<div class="privacy-policy-container">
    <div class="policy-1440">
        <div class="headline-button-container">
            <h1>{{ 'PRIVACY_POLICY.TITLE' | translate }}</h1>
            <a href="">
                <img class="rotate-left" [src]="currentImage" alt="Arrow"
                    (mouseover)="changeToGreenArrow()"
                    (mouseout)="changeToWhiteArrow()">
            </a>
        </div>

        <h2>{{ 'PRIVACY_POLICY.GENERAL_TITLE' | translate }}</h2>
        <p>{{ 'PRIVACY_POLICY.GENERAL_DESC' | translate }}</p>

        <h2>{{ 'PRIVACY_POLICY.RESPONSIBLE' | translate }}</h2>
        <p>Eduard Fray<br>
            Vitalisstr. 385,<br>
            50933 Cologne,<br>
            Germany</p>

        <h2>{{ 'PRIVACY_POLICY.CONTACT_OPTIONS' | translate }}</h2>
        <p>{{ 'PRIVACY_POLICY.EMAIL' | translate }}: 
            <a class="mail-color" href="mailto:eduard.fray.developer@gmail.com">
                eduard.fray.developer&commat;gmail.com
            </a>
        </p>

        <h2>{{ 'PRIVACY_POLICY.TYPES_PROCESSED_DATA' | translate }}</h2>
        <ul>
            <li>{{ 'PRIVACY_POLICY.DATA_CONTACT' | translate }}</li>
        </ul>

        <h2>{{ 'PRIVACY_POLICY.AFFECTED_PERSONS' | translate }}</h2>
        <p>{{ 'PRIVACY_POLICY.AFFECTED_PERSONS_DESC' | translate }}</p>

        <h2>{{ 'PRIVACY_POLICY.PURPOSE_PROCESSING' | translate }}</h2>
        <ul>
            <li>{{ 'PRIVACY_POLICY.PURPOSE_PROVIDE' | translate }}</li>
            <li>{{ 'PRIVACY_POLICY.PURPOSE_CONTACT' | translate }}</li>
        </ul>

        <h2>{{ 'PRIVACY_POLICY.CONTACTING' | translate }}</h2>
        <p>{{ 'PRIVACY_POLICY.CONTACTING_DESC' | translate }}</p>

        <h2>{{ 'PRIVACY_POLICY.YOUR_RIGHTS' | translate }}</h2>
        <p>{{ 'PRIVACY_POLICY.YOUR_RIGHTS_DESC' | translate }}</p>
        <ul>
            <li>{{ 'PRIVACY_POLICY.RIGHTS_INFO' | translate }}</li>
            <li>{{ 'PRIVACY_POLICY.RIGHTS_CORRECTION' | translate }}</li>
            <li>{{ 'PRIVACY_POLICY.RIGHTS_DELETION' | translate }}</li>
            <li>{{ 'PRIVACY_POLICY.RIGHTS_RESTRICTION' | translate }}</li>
            <li>{{ 'PRIVACY_POLICY.RIGHTS_OBJECTION' | translate }}</li>
            <li>{{ 'PRIVACY_POLICY.RIGHTS_PORTABILITY' | translate }}</li>
        </ul>
        <p>{{ 'PRIVACY_POLICY.RIGHTS_WITHDRAWAL' | translate }}</p>
        <p>{{ 'PRIVACY_POLICY.RIGHTS_COMPLAINT' | translate }}</p>

        <h2>{{ 'PRIVACY_POLICY.CHANGES' | translate }}</h2>
        <p>{{ 'PRIVACY_POLICY.CHANGES_DESC' | translate }}</p>
    </div>
</div>
