<div class="about-me-container">

    <div class="about-me-content">
        <div class="about-me-text-container">
            <h1>{{'ABOUT.TITLE' | translate}}</h1>
            <div class="firstparagraph">
                <span>{{'ABOUT.INTRO' | translate}}</span>
            </div>
            <div class="bullet-points">
                <div class="bullet-flex">
                    <img src="./assets/images/location.png" alt="">
                    <span>{{ 'ABOUT.BULLET_1' | translate }}</span>
                </div>
                <div class="bullet-flex">
                    <img src="./assets/images/bulb.png" alt="">
                    <span>{{ 'ABOUT.BULLET_2' | translate }}</span>
                </div>
                <div class="bullet-flex">
                    <img src="./assets/images/puzzle.svg" alt="">
                    <span>{{ 'ABOUT.BULLET_3' | translate }}
                    </span>
                </div>
            </div>
        </div>

        <div class="second-portrait-container">
            <img src="./assets/images/profile-picture2.jpg" alt="">
            <div class="sideline-green"></div>
        </div>

        <img class="purple-shadow" src="./assets/images/purple-about-me.png" alt="">
    </div>
</div>
