<div class="skill-container">
    <div class="skill-container-1440">
        <div class="skill-left">
            <div *ngFor="let skill of skills; let i = index" class="skill-name-container">
                <img [src]="(i === skills.length - 1 && skill.hovered) ? './assets/images/skills/learning-white.png' : skill.img"
                    (mouseenter)="i === skills.length - 1 ? skill.hovered = true : null"
                    (mouseleave)="i === skills.length - 1 ? skill.hovered = false : null" alt="">
                <span class="skill-name" [ngClass]="{'last-skill': i === skills.length - 1}">{{ skill.name }}</span>
                <div *ngIf="skill.hovered && i === skills.length - 1" class="popup-image">
                    <img src="./assets/images/skills/learning-popup.png" alt="Popup Image">
                </div>
            </div>
        </div>
        <div class="skill-right">
            <div class="skill-right-headline">
                <h1>{{ 'SKILLS.TITLE' | translate }}</h1>
                <div class="sideline"></div>
            </div>
            <div class="looking-for-skill-container">
                <span>{{ 'SKILLS.DESCRIPTION' | translate }}</span>
                <div class="skill-left d-none">
                    <div *ngFor="let skill of skills; let i = index" class="skill-name-container">
                        <img [src]="(i === skills.length - 1 && skill.hovered) ? './assets/images/skills/learning-white.png' : skill.img"
                            (mouseenter)="i === skills.length - 1 ? skill.hovered = true : null"
                            (mouseleave)="i === skills.length - 1 ? skill.hovered = false : null" alt="">
                        <span class="skill-name" [ngClass]="{'last-skill': i === skills.length - 1}">{{ skill.name
                            }}</span>
                        <div *ngIf="skill.hovered && i === skills.length - 1" class="popup-image">
                            <img src="./assets/images/skills/learning-popup.png" alt="Popup Image">
                        </div>
                    </div>
                </div>
                <h2>{{ 'SKILLS.LOOKING_FOR' | translate }}</h2>
                <span>{{ 'SKILLS.CONTACT_ME' | translate }}</span>
                <a href="#contact">
                    <app-button label="{{ 'SKILLS.BUTTON' | translate }}" textOverflow="ellipsis"></app-button>
                </a>
            </div>
        </div>
        <img class="green-shadow" src="./assets/images/green-shadow-skills.png" alt="green-shadow">
    </div>
</div>