<div class="portfolio-container">
    <div class="animation">
        <div class="content">
            <span>{{ 'PORTFOLIO.BUILD_SOMETHING' | translate }}</span>
            <span>{{ 'PORTFOLIO.UX_MATTERS' | translate }}</span>
            <span>{{ 'PORTFOLIO.ALWAYS_LEARNING' | translate }}</span>
            <span>{{ 'PORTFOLIO.TEAM_PLAYER' | translate }}</span>
            <span>{{ 'PORTFOLIO.CODE_COFFEE' | translate }}</span>

            <!-- Duplizierter Inhalt für nahtlose Endlosschleife -->
            <span>{{ 'PORTFOLIO.BUILD_SOMETHING' | translate }}</span>
            <span>{{ 'PORTFOLIO.UX_MATTERS' | translate }}</span>
            <span>{{ 'PORTFOLIO.ALWAYS_LEARNING' | translate }}</span>
            <span>{{ 'PORTFOLIO.TEAM_PLAYER' | translate }}</span>
            <span>{{ 'PORTFOLIO.CODE_COFFEE' | translate }}</span>
        </div>
    </div>

    <div class="portfolio-head-container">
        <div class="portfolio-head-flex">
            <div class="sideline-left"></div>
            <h1>{{ 'PORTFOLIO.TITLE' | translate }}</h1>
            <div class="sideline-right"></div>
        </div>
        <div class="explore-text">
            {{ 'PORTFOLIO.DESCRIPTION' | translate }}
        </div>
    </div>

    @for (project of projects; track project; let i = $index) {
    <app-projects [projectsTest]="project" [reverseLayout]=" i % 2 === 1 "></app-projects>
    }

    <img class="purple-shadow" src="./assets/images/purple-shadow-portfolio.png" alt="">
</div>